<ion-navbar *navbar primary>
  <ion-title>
    Menu
  </ion-title>
</ion-navbar>
<ion-content>
  <ion-list *ng-for="#group of items; #i = index;">
      <ion-header>{{group.Group}}</ion-header>
      <ion-item *ng-for="#item of group.Items" (click)="viewItem(item)">
        <ion-avatar item-left>
          <img [src]="item.Image" alt="">
        </ion-avatar>
        <h2>{{item.Name}}</h2>
        <p>${{item.Price}}</p>
        <p><span *ng-for="#ingredient of item.Ingredients; #i = index"><span>{{ingredient.Name}}</span><span *ng-if="i < item.Ingredients.length - 1">,</span> </span></p>
      </ion-item>
  </ion-list>
</ion-content>
<button *ng-if="cartService.getOrderTotal() > 0" (click)="checkout()" danger fab fab-bottom fab-right><icon card></icon></button>


