<ion-navbar *navbar primary>
  <ion-title>
    Me
  </ion-title>
</ion-navbar>
<ion-content>
  <div padding *ng-if="!userService.getCurrentUser()">
    <h3>Whoa there, I don't even know who you are yet...</h3>
    <div>
      <!--<button primary full><icon social-facebook></icon> Facebook</button>-->
      <!--<button danger full><icon social-google></icon> Google</button>-->
      <!--<button secondary full><icon social-twitter></icon> Twitter</button>-->
      <button (click)="authWithGithub()" dark full><icon social-github></icon> Github</button>
    </div>
  </div>
  <div *ng-if="userService.getCurrentUser()">
    <ion-card>
      <ion-card-header>Locations:</ion-card-header>
      <ion-card-content>
        <div *ng-if="currentUser.Locations.length">
            <ion-item *ng-for="#location of currentUser.Locations">
                <icon checkmark></icon> {{location.Street1 + ' ' + location.City + ' ' + location.State + ', ' + location.Zip}}
            </ion-item>
        </div> 
        <ion-item actions>
          <button (click)="openLocationModal()" clear primary item-right> <icon compass></icon> Add Location</button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>Payments:</ion-card-header>
      <ion-card-content>
        <div *ng-if="currentUser.Payments.length">
            <ion-item *ng-for="#payment of currentUser.Payments">
                <icon checkmark></icon> •••• •••• •••• 6784
            </ion-item>
        </div>
        <ion-item actions>
          <button (click)="openPaymentModal()" clear primary item-right> <icon card></icon> Add Payment</button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <button *ng-if="cartService.getOrderTotal() > 0" (click)="checkout()" danger fab fab-bottom fab-right><icon card></icon></button>

</ion-content>
