<ion-navbar *navbar primary>
  <ion-title>
    Cart - {{'$'+cartService.getOrderTotal()}}
  </ion-title>
  <ion-nav-items secondary>
    <button *ng-if="cartService.getOrderTotal() > 0" (click)="checkout()">Checkout</button>
  </ion-nav-items>
</ion-navbar>
<ion-content>
  <ion-card *ng-if="!cart.length">
    <ion-card-content>
      <h1>Your <icon cart></icon> is empty</h1>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ng-for="#item of cart">
      <h2>{{item.Name}}</h2>
      <h3>${{item.Price}}</h3>
      <p><span *ng-for="#ingredient of item.Ingredients; #i = index"><span *ng-if="!ingredient.Ordered" class="strikethrough">{{ingredient.Name}}</span><span *ng-if="!ingredient.Ordered && i < item.Ingredients.length - 1">,</span> </span></p>
      <button (click)="remove(item)" clear danger item-right><icon trash></icon></button>
    </ion-item>
  </ion-list>
  <button *ng-if="cartService.getOrderTotal() > 0" (click)="checkout()" danger fab fab-bottom fab-right><icon card></icon></button>

</ion-content>
